@model AiViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartWritter</title>
    <link rel="stylesheet" href="~/front/style/main.css"/>
    <link rel="stylesheet" href="~/front/style/button.css"/>
    <link rel="stylesheet" href="~/front/style/fonts.css"/>
</head>
<body>
<header>
    <section class="navigation">
        <h1>SmartWritter</h1>
        <nav>
            <a href="#us">О нас</a>
            <a href="#">FAQ</a>
            <a href="#ai">AI-инструмент</a>
            <a href="log.html">Личный кабинет</a>
        </nav>
    </section>
    <section class="header_desc">
        <div class="header_title">
            <h1>Books That Write Themselves</h1>
            <p>Сервис SmartWriter использует искусственный интеллект для генерации уникальных книг по вашему запросу.
                Просто укажите тему, жанр и пожелания – наш алгоритм напишет полноценное произведение: от структуры до
                последней главы.</p>
            <button class="secondary">Узнать больше</button>
        </div>
    </section>
</header>
<main>
    <section id="us" class="about_us">
        <div class="about_us_desc">
            <h1>О нас</h1>
            <p>SmartWriter — это инновационный сервис, который превращает ваши идеи в готовые книги с помощью
                искусственного интеллекта. Наша миссия — сделать процесс создания книг доступным каждому.</p>
            <p>С помощью нашего сервиса вы можете:</p>
        </div>
        <div class="slider">
            <div class="stroke_1">
                <div class="slide"><h1>Иллюстрировать литературные произведения</h1></div>
                <div class="slide"><h1>Создавать литературные произведения</h1></div>
            </div>
            <div class="stroke_2">
                <div class="slide"><h1>Создавать произведения на русском с использованием иностранного</h1></div>
            </div>
        </div>
    </section>
    <section id="ai" class="ai_instrument">
        <div class="ai_instrument_desc">
            <h1>AI-инструмент</h1>
            <p>Создание иллюстрации для литературного произведения</p>
        </div>

        @using (Html.BeginForm("GenerateImages", "Home", FormMethod.Post, new { id = "pdfForm", }))
        {
            @Html.AntiForgeryToken()

            <textarea name="userContent"
                      id="textInput"
                      placeholder="Введите текст произведения"
                      class="form-control"
                      content=@(TempData["Error"] != null ? TempData["Error"] : "")
            ></textarea>

            <div>
                <p>Количество изображений:</p>
                <input type="number" name="count" id="imageCount" min="1" max="8" value="2">
            </div>

            <button class="primary" type="submit">Сгенерировать PDF</button>
        }

        <div class="ai_instrument_desc">
            <p>Создание литературного произведения</p>
        </div>

        @using (Html.BeginForm("GenerateText", "Home", FormMethod.Post, new { id = "creatingbook", }))
        {
            @Html.AntiForgeryToken()

            <textarea name="userContent"
                      id="bookInput"
                      placeholder="Введите план или описание"
                      class="form-control"
                      content=@(TempData["Error"] != null ? TempData["Error"] : "")
            ></textarea>
            <button class="primary" type="submit">Сгенерировать текст</button>
        }
    </section>
</main>
<footer>
    <p>Created by team “Фиксики”</p>
</footer>

</body>
</html>